.page{
  font-family: courier;
  background:#eae1e1;
  overflow: hidden;
  text-decoration:none;
  font-size: 15px;
  text-align: center;
  }
  .error {
  border: 2px solid red;
}
.exit{
	color:#e3e0de;
	float:right;
}
.ch{
	zoom:150%;
}
.page li{list-style:none;}
.navbar-brand{
  width:60px;
  }
.header{
  background: #bf9992;
  height: auto;
  justify-content:center;
  align-items:center;
  }
.name{
  font-family: courier;
  font-size: 20px;
  color:#e3e0de;
  }
.navbar-nav{
  font-size: 18px;
  background-color: #d1b9b5;
  font-family: courier;
  }
.page a{
  color: #78504c;
  }
th{
  background: #627d74;
  color: #e3e0de;
  font-size: 1em;
  font-style: italic;
  }
.footer{
  background: #bf9992;
  height: 30px;
  overflow: hidden;
  text-align: center;
  }
@media (min-width: 992px){
.content{
font-size: 20px
}
.menu li{
  display:inline;
  font-size: 20px;
}
.name{
  font-size: 25px;
}
}
